# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def addTwo(x):
    return x + 2

lambda x: x + 2

#### Saving to a Variable

In [3]:
addAgain = lambda x: x + 2

print(addAgain)
addAgain(9)

<function <lambda> at 0x7f97fd3078b0>

11

#### Multiple Inputs

In [4]:
#lambda parameter return line

(lambda x,y,z: (x+y)*z)(3,6,10) 
#self envoking because define and use right away


myFunc = lambda x,y,z: (x+y)*z
myFunc (3,6,10)

90

#### Passing a Lambda into a Function

In [7]:
def doThis(action,num):
    print(f'You are about to do you action {num} times')
    
    action(num)
    
    print('done')
    return

doThis(lambda x: print('hello'*x), 3)

func1 = lambda x: print('homework'*x)

doThis(func1,5)

You are about to do you action 3 times
hellohellohello
done
You are about to do you action 5 times
homeworkhomeworkhomeworkhomeworkhomework
done

#### Returning a Lambda from a Function

In [13]:
def test():
    names = [] #private variable
    s = lambda name: names.append(name)
    t = lambda :print(names)
    
    return s, t

addNames, printInfo = test()
addNames('trinisia')
printInfo()

['trinisia']

#### If Statements within Lambdas

In [16]:
func = lambda num: num//2 if num % 2 == 0 else num*2
func(10)
func(11)

22

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [21]:
f = lambda num: num**3
f(10)


# def cubed():
#     f = lambda num: num**3 
#     return f
# cubed(10)

1000

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [22]:
numbers = [4,11,321,2,22,79]
new_nums = []
for num in numbers:
    new_nums.append(num*2)
    
print(new_nums)

new_1c = [num*2 for num in numbers]
print(new_1c)

[8, 22, 642, 4, 44, 158]
[8, 22, 642, 4, 44, 158]

In [27]:
#syntax: map(func,iter)
def timesTwo(num):
    return num*2
list(map(timesTwo, numbers))

[8, 22, 642, 4, 44, 158]

#### Using Lambda's with Map

In [26]:
list(map(lambda num: num*2, numbers))

[8, 22, 642, 4, 44, 158]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [31]:
#syntax: map(func,iter)
def timesTwo(num):
    return (num*2)-1
list(map(timesTwo, numbers))

[7, 21, 641, 3, 43, 157]

In [30]:
list(map(lambda num: (num*2)-1, numbers))

[7, 21, 641, 3, 43, 157]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [36]:
#syntax: filter(func,iter)

def filterOdds(num):
    return num%2==0
    
#    if num%2==0:
#         return True
#     return False (boolean but without these, will show same answer)

print(numbers)
list(filter(filterOdds, numbers))


names = ['trinisia', 'brandt', 'shoha', 'aubrey']
def filterB (name):
    return name[0].lower()=='b'

list(filter(filterB, names))

[4, 11, 321, 2, 22, 79]

['brandt']

#### Using Lambda's with Filter()

In [39]:
list(filter(lambda name: name[0].lower()=='b', names))

['brandt']

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [40]:
import statistics

num = [5,10,4,22,17]
average = mean(num)

def filterOdds(num):
    if num>average:
        return True
    else:
        False
print(num)

list(filter(filterOdds,number))

# import statistics

# avg = mean(numbers)
# print(avg)

# def filterOdds(num):
#     if num > avg:
#         return True
#     else:
#         False
# print(numbers)   
# list(filter(filterOdds, numbers))

NameError: name 'mean' is not defined

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [43]:
from functools import reduce
#syntax: reduce(func, iter)

nums = [5,10,4,22,17]

def mySum(num1, num2):
    print(f'num1 is {num1}')
    print(f'num2 is {num2}')
    print('===============')
    return num1 + num2

reduce(mySum, nums)

58

#### Using Lambda's with Reduce()

In [44]:
reduce(lambda x,y: x+y, nums)

58

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [48]:
def addNums(num):
    #set base case for recursive function for when we stop loop
    if num >= 10:
        print('addNums(10) = 10')
        return num
    #recursive case > "when do we start the loop again?"
    else:
        print(f'addNums({num})) = {num} + addNums({num+1})')
        return num + addNums(num+1)

addNums(1)

addNums(1)) = 1 + addNums(2)
addNums(2)) = 2 + addNums(3)
addNums(3)) = 3 + addNums(4)
addNums(4)) = 4 + addNums(5)
addNums(5)) = 5 + addNums(6)
addNums(6)) = 6 + addNums(7)
addNums(7)) = 7 + addNums(8)
addNums(8)) = 8 + addNums(9)
addNums(9)) = 9 + addNums(10)
addNums(10) = 10

55

#### Writing a Factorial Function

In [49]:
# 5! = 5*4*3*2*1

def factorial(num):
    if num<=1:
        return 1
    else:
        return num * factorial(num-1)


factorial (5)

120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [55]:
def my_range(start, stop, step):
    while start < stop:
        yield start
        start += step

for num in my_range(2,22,3):
    print(num)

2
5
8
11
14
17
20

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [56]:
def my_range(start, stop, step):
    while start >= 0:
        yield start**2
        start += step
        
for num in my_range(9,0,-1):
    print(num)

81
64
49
36
25
16
9
4
1
0

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [72]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

fixed = list(filter(lambda x: x !='' and x !=' ' and x !='  ', places))

print(fixed)

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [75]:
authors = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

# pass lambda
# key = lambda etc (last name case insenstitive)

#focus on last item in each indiv string which would then be sorted in abc order:
author.sort(key=lambda author: author.split(" ")[-1].lower())
print (author)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [88]:
# F = (9/5)*C + 32
celsius = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]


# at position 0, name should remain the same. 
# at position 1, C value should be converted to F
# call celsius for values
farhenheit = list(map(lambda x: (x[0], (9/5) * x[1]+ 32), celsius))
print(farhenheit)

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [89]:
def sequence(x):
    if x <= 1:
        #similar to a factorial, if value is less than one, it cannot "climb"
        return x
    else:
        #every outcome is the sum of the previous two terms:
        return(sequence(x-1) + sequence(x-2))
value = 5

if value <=0:
    print("Positive integer required")
else:
    for num in range(value):
        print(sequence(num))

0
1
1
2
3